.bk-contener {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #333; */
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: calc( var(--width-bk) *2.07);
    height: calc( var(--height-bk) *2.07);
    /*width: 260px;*/
    /*height: 140px;*/
    overflow: hidden;
}
.title {
    display: block;
    cursor: pointer;
    width: 100%;
    text-align: center;
}
