.bk-open-container {
    /* position: fixed; */
    display: flex;
    /* width: 400px; */
    flex-direction: row;
    /* background: rgb(195, 203, 252); */
    border: 1px solid #888;
    border-radius: 5px;
}
.title-container {
    display: flex;
    justify-content: space-between;
}
.bk-open-folder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* width: 400px; */
    /* height: var(--heght-bk); */
    flex-direction: row;
    /* border: 1px solid #888; */
    /* border-radius: 5px; */
    z-index: 100;
}
.title {
    display: block;
    cursor: pointer;
}
.btn-close {
    display: block;
    cursor: pointer;
}